// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$black02: rgba(0, 0, 0, 0.2);
$black03: rgba(0,0,0,0.3);
$red-other: #D23333;
$black007: rgba(0,0,0,0.07);
$black003: rgba(0,0,0,0.03);
$taupe: #616668;
$orange-red: #da552f;
$super-ligth-gray: #E6E6E6;
$darker-gray: #999999;

